:root {
  --bg_color: #0a0c19;
  --card_color: #1b1938;
  --font_color: #aa5cdb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 70vw;
  height: 70vh;
  background-color: var(--card_color);
  font-family: "Inter Tight", sans-serif;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.card h1 {
  margin-bottom: 20px;
}
.card_txt span {
  color: var(--font_color);
}
.card_left {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.card_stat {
  display: flex;
  gap: 20px;
}
.card_right {
  width: 50%;
  position: relative;
}
.card_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  filter: grayscale(100%);
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--font_color);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  transition: 300ms ease-in-out;
}
.card:hover .overlay {
  opacity: 0;
}
.card:hover .card_right img {
  filter: grayscale(0%);
}
@media only screen and (max-width: 800px) {
  .card_right {
    width: 33.33%;
  }
  .card_left {
    width: 66.37%;
  }
}
@media only screen and (max-width: 635px) {
  .card {
    flex-direction: column-reverse;
    height: 90vh;
  }
  .card_left,
  .card_right {
    width: 100%;
  }
  .card_stat {
    gap: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .card_left {
    padding: 15px;
  }
  .card_left h1 {
    font-size: 25px;
  }
  .card_stat h2 {
    font-size: 20px;
  }
  .card_left p,
  .card_stat p {
    font-size: 12px;
  }
}
